/* Add here all your CSS customizations */
.colour{
    /*background-color: #e36159#47b3dd;*/
    background-color: #e36159;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}

.button{
    background-color: #47b3dd;
    color: #fff;
}
.button-black{
    background-color: #47b3dd;
    color:black;
}

#image{
	background-image:url('img/slides/PU-Banner-Image-03.jpg');
	background-size: cover; 
	background-position: center;
	height: 100vh;
 }
 
 @media (max-width: 575px) {
	#image {
		background-image: url('img/responsive/image1.jpg');
	}
}
#image1{
	background-image:url('img/slides/Project-Utkarsh-Banner-Image-3.jpg');
	background-size: cover; 
	background-position: center;
	height: 100vh;
 }
 
 @media (max-width: 575px) {
	#image1 {
		background-image: url('img/responsive/image2.jpg');
	}
}
#image2{
	background-image:url('img/slides/Home-Page-1.jpg');
	background-size: cover; 
	background-position: center;
	height: 100vh;
 }
 
 @media (max-width: 575px) {
	#image2 {
		background-image: url('img/responsive/image3.jpg');
	}
}
#image3{
	background-image:url('img/slides/Activities_All.jpg');
	background-size: cover; 
	background-position: center;
	height: 100vh;
 }
 
 @media (max-width: 575px) {
	#image3 {
		background-image: url('img/responsive/image4.jpg');
	}
}

@media (orientation: landscape) {
	.header-logo {
		padding-left: 45px;
	}
}
@media (orientation: portrait) {
	.header-logo {
		padding-left: 0px;
	}
}
@media (orientation: landscape) {
	.header-nav-main {
		padding-right: 35px;
	}
}

@media (orientation: portrait) {
	.header-nav-main {
		padding-right: 0px;
	}
}

/* .pre-Loader {
	transition: all 0.2s;
	margin: -9px 0 0 -35px;
	text-align: center;
	width: 200px;
	height: 200px;
	left: 45%;
	position: absolute;
	top: 30%;
	z-index: 10000;
}

@media (max-width: 575px) {
	.pre-Loader {
		margin: -9px 0 0 -35px;
    }
} */
#border{
	border-bottom: 2px solid #e36159; 
	padding-left: 0px;
}

#footer{
	background-color: #e36159;
}
