



/*------------------------------------------------------
/ 0. button 0
/------------------------------------------------------*/

.btn-login{height: 50px;
    border-radius: 3px;
    background: #5838fc;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    padding: 0 36px;
    font-size: 13px;
    line-height: 50px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;}
    
    
    
    
    /*------------------------------------------------------
    / 1. Home 01
    /------------------------------------------------------*/
    /*----  Header ------*/
    html {scroll-behavior: smooth;}
    .header-01{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 5;
        /* background: transparent; */
        background: #f7f6fa;
        padding: 0;
    }
    .navbar.navbar-expand-lg{
        position: relative;
        margin: 0;
        padding: 0;
    }
    .navbar-brand{
        position: relative;
        padding: 22px 0;
        margin: 0;
        text-align: center;
    }
    .navbar-brand img{
        width: auto;
        height: 30px;
        margin-left:35%;
        
    }
    .navbar-expand-lg .navbar-collapse{
        justify-content: flex-end;
    }
    .navbar-expand-lg .navbar-nav{
        position: relative;
        margin: 0;
        padding: 0;
    }
    .navbar-expand-lg .navbar-nav li{
        position: relative;
        list-style: none;
        display: inline-block;
        margin: 0 46px 0 0;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .navbar-expand-lg .navbar-nav li > a{
        display: block;
        font-size: 16px;
        line-height: 30px;
        
        text-transform: capitalize;
        font-weight: 600;
        padding: 23px 0 26px;
        position: relative;
        color: black;
    }
    .navbar-expand-lg .navbar-nav li:hover > a{
        color: #5838fc;
    }
    
    
    
    .navbar-expand-lg .navbar-nav li .sub-menu {
        background: #fff;
        width: 230px;
        z-index: 9;
        text-align: left;
        display: block;
        left: -20px;
        margin: auto;
        position: absolute;
        padding: 20px 0;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        top: 100%;
        z-index: 9;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(11, 2, 55, 0.1);
        -moz-box-shadow:    0px 10px 20px 0px rgba(11, 2, 55, 0.1);
        box-shadow:         0px 10px 20px 0px rgba(11, 2, 55, 0.1);
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform-origin: center top 0;
        -webkit-transform-origin: center top 0;
        -moz-transform-origin: center top 0;
        -ms-transform-origin: center top 0;
        -o-transform-origin: center top 0;
        transition: all .3s ease-in-out 0s;
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        
    }
    .navbar-expand-lg .navbar-nav li .sub-menu li{
        display: block;
        padding: 0;
        margin: 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .navbar-expand-lg .navbar-nav li .sub-menu a{
        padding: 2px 30px;
        margin: 0;
        /* color: #2c234d; */
        line-height: 26px;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        width: 100%;
        display: block;
    }
    .navbar-expand-lg .navbar-nav li .sub-menu li:hover > a{
        color: #5838fc;
    }
    .navbar-expand-lg .navbar-nav li:hover .sub-menu{
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }
    .navbar-expand-lg .navbar-nav li .sub-menu li a:before{
        display: none;
    }
    .navbar-expand-lg .navbar-nav li .sub-menu li .sub-menu{
        position: absolute;
        left: 90%;
        right: auto;
        top: 0;
        visibility: hidden;
        opacity: 0;
    }
    .navbar-expand-lg .navbar-nav li .sub-menu li:hover .sub-menu{
        visibility: visible;
        opacity: 1;
        left: 100%;
    }
    .user-btn{
        position: relative;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        text-align: center;
        font-size: 16px;
        line-height: 44px;
        color: #fff;
        display: inline-block;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
    }
    .user-btn:hover{
        background: #fff;
        border-color: #fff;
        -webkit-box-shadow: 0px 20px 30px 0px rgba(26, 8, 119, 0.24);
        -moz-box-shadow:    0px 20px 30px 0px rgba(26, 8, 119, 0.24);
        box-shadow:         0px 20px 30px 0px rgba(26, 8, 119, 0.24);
    }
    .join-btn{
        margin-left: 20px;
        position: relative;
        height: 44px;
        border-radius: 3px;
        text-align: center;
        font-size: 13px;
        line-height: 40px;
        font-weight: 600;
        padding: 0 30px;
        color: #fff;
        display: inline-block;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
    }
    .join-btn:hover{
        background: #fff;
        border-color: #fff;
        -webkit-box-shadow: 0px 20px 30px 0px rgba(26, 8, 119, 0.24);
        -moz-box-shadow:    0px 20px 30px 0px rgba(26, 8, 119, 0.24);
        box-shadow:         0px 20px 30px 0px rgba(26, 8, 119, 0.24);
    }



    
    /*---- Hero Banner Section ------*/
    .hero-banner-1{
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
        /* position: relative; */
        padding: 150px 0 100px;
    }
    
    .hero-banner-1:after{
        /* position: absolute; */
        left: 0;
        bottom: -215px;
        width: 100%;
        height: 100%;
        content: '';
        background: url(../images/home/left-shape.png) no-repeat left bottom;
    }
    
    /*---- Course Section ------*/
    .popular-course-section{
        position: relative;
        padding: 100px 0 120px;
    }
    
    .read-more{
        font-size: 13px;
        color: #5d5a67;
        line-height: .8;
        font-weight: 600;
        position: relative;
        display: inline-block;
    }
    .read-more i{
        font-size: 20px;
        position: relative;
        top: 5px;
        margin-left: 5px;
        transition: all linear 0.3s;
    }
    .read-more:hover i{
        margin-left: 15px;
    }
    .popular-course-section .read-more{
        float: right;
        margin: 82px 0 0;
    }
    .course-wrapper{
        position: relative;
        display: flex;
        justify-content: flex-start;
    }
    .course-item-1{
        position: relative;
        width: 100%;
        background: #f7f6fa;
        border-radius: 20px;
        padding: 55px 30px 43px;
        margin-right: 40px;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .course-item-1:after{
        position: absolute;
        left: 5px;
        top: 5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 30px 0 0;
        border-color: #5838fc #fff #fff #fff;
        content: '';
        visibility: hidden;
        opacity: 0;
        border-radius: 20px 0 0 0;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .course-item-1:last-child{
        margin-right: 0;
    }
    .course-item-1:hover{
        background: #fff;
        -webkit-box-shadow: 0px 30px 50px 0px rgba(11, 02, 55, 0.10);
        -moz-box-shadow:    0px 30px 50px 0px rgba(11, 02, 55, 0.10);
        box-shadow:         0px 30px 50px 0px rgba(11, 02, 55, 0.10);
    }
    .course-item-1:hover:after{
        left: 0;
        top: 0;
        visibility: visible;
        opacity: 1;
    }
    .course-item-1 svg{
        height: 70px;
        margin-bottom: 30px;
    }
    .course-item-1 h4{
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        margin: 0;
    }
    .course-item-1 h4 a{
        color: inherit;
    }
    .course-item-1 h4 a:hover{
        color: #5838fc;
    }
    /*---- About Section ------*/
    .ab-thumb{
        position: relative;
        margin-right: 50px;
    }
    .ab-thumb img{
        width: 100%;
        height: auto;
    }
    .ab-content{
        position: relative;
        padding: 63px 0 0;
    }
    .ab-content h3{
        font-size: 34px;
        line-height: 44px;
        margin-bottom: 24px;
    }
    .ab-content p{
        margin-bottom: 43px;
    }
    .ab-content p.mid-item{
        font-size: 20px;
        line-height: 30px;
        color: #5838fc;
        margin-bottom: 25px;
    }
    
    /*---- Feature Course Section ------*/
    
    
    
    
    
    
    
    
  
    
    /*---- Footer Section ------*/
    .cta-wrapper{
        position: relative;
        background: #fff;
        border-radius: 10px;
        margin-top: -350px;
        padding: 30px 70px;
        display: flex;
        justify-content: space-between;
        -webkit-box-shadow: 0px 40px 80px 0px rgba(11, 02, 55, 0.10);
        -moz-box-shadow:    0px 40px 80px 0px rgba(11, 02, 55, 0.10);
        box-shadow:         0px 40px 80px 0px rgba(11, 02, 55, 0.10);
    }
    .cta-wrapper img{
        height: 200px;
        width: auto;
    }
    .cta-wrapper h3{
        font-size: 34px;
        line-height: 44px;
        margin: 52px 0 0 -115px;
        width: 48%;
    }
    .cta-wrapper .bisylms-btn{
        margin-top: 75px;
    }
    .footer-1{
        position: relative;
        z-index: 3;
        padding: 10px 0 0;
        background: #f2f2f2;
    }
    footer .widget{
        margin: 0;
        padding: 0;
    }
    footer .widget .widget-title{
        font-size: 16px;
        line-height: 30px;
        color: #2c234d;
        margin-bottom: 20px;
    }
    .about-widget{
        position: relative;
        padding-right: 30px;
    }
    .about-widget img{
        max-width: 100%;
        height: auto;
        margin: 0 0 23px;
    }
    .about-widget p{
        font-size: 15px;
        margin-bottom: 33px;
    }
    .ab-social{
        position: relative;
    }
    .ab-social a{
        display: inline-block;
        width: 40px;
        height: 40px;
        background: #446bb9;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        font-size: 14px;
        margin-right: 2px;
        /* padding-top: 12px; */
    }
    
    
    
    .ab-social a.fac{
        background: #446bb9;
    }
    .ab-social a.twi{
        background: #00aced;
    }
    .ab-social a.you{
        background: #f73434;
    }
    .ab-social a.lin{
        background: #007bb6;
    }
    .ab-social a:hover{
        -webkit-box-shadow: 0px 10px 20px 0px rgba(9, 111, 150, 0.30);
        -moz-box-shadow:    0px 10px 20px 0px rgba(9, 111, 150, 0.30);
        box-shadow:         0px 10px 20px 0px rgba(9, 111, 150, 0.30);
    }
    footer .widget ul{
        margin: 0;
        padding: 0;
    }
    footer .widget ul li{
        list-style: none;
        display: block;
        font-size: 13px;
        line-height: 32px;
        color: #76747f;
        font-weight: 600;
    }
    footer .widget ul li a{
        color: inherit;
    }
    footer .widget ul li a:hover{
        color: #5838fc;
    }
    .copyright{
        position: relative;
        border-top: 1px solid rgba(14, 14, 55, .08);
        /* margin-top: 90px; */
        padding: 22px 0 46px;
    }
    .copyright p{
        font-size: 13px;
        line-height: 26px;
        color: #767480;
        margin: 0;
    }
    .copyright p a{
        color: #5838fc;
    }
    .copyright p a:hover{
        color: #767480;
    }
    
    /*--------------------------------------------------------
    / 2. Home 02
    /---------------------------------------------------------*/
    
    /*---- Header Section ------*/
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*---- Course Section ------*/
    
    .ab-content-2{
        position: relative;
        padding: 34px 0 0;
    }
    .ab-content-2 h3{
        font-size: 40px;
        line-height: 54px;
        margin-bottom: 12px;
    }
    .ab-content-2 p{
        font-size: 14px;
        line-height: 24px;
        margin: 0 0 24px;
    }
    .ab-content-2 .read-more:hover{
        color: #fe7c54;
    }
    
    /*---- Feature Section ------*/
    
    /*---- Funfact Section ------*/
    
    /*--------------------------------------------------------
    / 4. About Page
    /---------------------------------------------------------*/
    /*---- Page Banner Section ------*/
    
    .abpage-section-1{
        position: relative;
        padding: 120px 0 0;
    }
    .abpage-section-1 .read-more:hover {
        color: #5838fc;
    }
    .abpage-section-1 .funfact-item h2{
        color: #5838fc;
    }
    .ts-about .funfact-item-2 h2{
        color: #5838fc;
    }
    .ab-customars-section{
        position: relative;
        padding: 37px 0 217px;
    }
    .ab-customars-section .bisylms-btn-2{
        background: rgba(88, 56, 252, .1);
        color: #5838fc;
        border-radius: 3px;
    }
    .ab-customars-section .bisylms-btn-2:hover{
        background: #5838fc;
        color: #fff;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(37, 14, 154, 0.24);
        -moz-box-shadow: 0px 10px 20px 0px rgba(37, 14, 154, 0.24);
        box-shadow: 0px 10px 20px 0px rgba(37, 14, 154, 0.24);
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*--------------------------------------------------------
    / 5. Contact Page
    /---------------------------------------------------------*/
    .contact-section{
        position: relative;
        background: #f7f6fa;
        padding: 120px 0;
    }
    .contact--info-area{
        position: relative;
        margin-right: 40px;
    }
    .contact--info-area h3{
        font-size: 30px;
        color: #2c234d;
        font-weight: 800;
        line-height: .8;
        margin-bottom: 16px;
    }
    .contact--info-area > p{
        color: #686875;
        line-height: 24px;
        border-bottom: 1px solid #e5e4ed;
        margin-bottom: 33px;
        padding-bottom: 25px;
    }
    .single-info{
        position: relative;
        margin-bottom: 37px;
    }
    .single-info h5{
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 15px;
        color: #2c234d;
    }
    .single-info p{
        position: relative;
        font-size: 14px;
        line-height: 22px;
        color: #686875;
        margin: 0;
        padding-left: 32px;
    }
    .single-info p i{
        font-size: 16px;
        line-height: 22px;
        color: #5838fc;
        position: absolute;
        left: 0;
        top: 0;
    }
    .ab-social h5{
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 24px;
        color: #2c234d;
    }
    .bisylms-map {
        position: relative;
        line-height: .8;
        overflow: hidden;
    }
    .bisylms-map iframe {
        width: 100%;
        height: 480px;
        border: none;
    }
    .contact-form{
        position: relative;
        background: #fff;
        border-radius: 10px;
        padding: 43px 50px 65px;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(11, 02, 55, 0.06);
        -moz-box-shadow: 0px 1px 3px 0px rgba(11, 02, 55, 0.06);
        box-shadow: 0px 1px 3px 0px rgba(11, 02, 55, 0.06);
    }
    .contact-form h4{
        font-size: 24px;
        color: #2c234d;
        line-height: 30px;
        margin-bottom: 8px;
    }
    .contact-form p{
        font-size: 16px;
        color: #686875;
        line-height: 26px;
        position: relative;
        z-index: 3;
        margin: 0 0 41px;
    }
    .contact-form input[type="text"],
    .contact-form input[type="number"],
    .contact-form textarea,
    .contact-form input[type="email"] {
        width: 100%;
        height: 56px;
        font-size: 14px;
        line-height: 56px;
        font-weight: 400;
        border-radius: 3px;
        border: none;
        background: #f5f5f7;
        color: #7e7c87;
        outline: none;
        border: 1px solid transparent;
        padding: 0 30px;
        margin-bottom: 20px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .contact-form textarea{
        height: 220px;
        resize: none;
        line-height: 30px;
        padding-top: 14px;
    }
    .contact-form textarea::-moz-placeholder,
    .contact-form input[type="text"]::-moz-placeholder,
    .contact-form input[type="number"]::-moz-placeholder,
    .contact-form input[type="email"]::-moz-placeholder{
       color: #7e7c87;
       opacity: 1; 
    }
    .contact-form textarea::-ms-input-placeholder,
    .contact-form input[type="text"]::-ms-input-placeholder,
    .contact-form input[type="number"]::-ms-input-placeholder,
    .contact-form input[type="email"]::-ms-input-placeholder{
       color: #7e7c87;
       opacity: 1; 
    }
    .contact-form textarea::-webkit-input-placeholder,
    .contact-form input[type="text"]::-webkit-input-placeholder,
    .contact-form input[type="number"]::-webkit-input-placeholder,
    .contact-form input[type="email"]::-webkit-input-placeholder{
       color: #7e7c87;
       opacity: 1; 
    }
    .contact-form textarea:focus,
    .contact-form input[type="text"]:focus,
    .contact-form input[type="number"]:focus,
    .contact-form input[type="email"]:focus{
        background: transparent;
        border-color: #ece9f9;
        -webkit-box-shadow: 0px 14px 16px 0px rgba(11, 02, 55, 0.10);
        -moz-box-shadow: 0px 14px 16px 0px rgba(11, 02, 55, 0.10);
        box-shadow: 0px 14px 16px 0px rgba(11, 02, 55, 0.10);
    }
    .contact-form input[type="submit"]{
        height: 50px;
        border-radius: 3px;
        background: #5838fc;
        color: #fff;
        text-align: center;
        border: none;
        outline: none;
        padding: 0 36px;
        font-size: 13px;
        line-height: 50px;
        font-weight: 600;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .contact-form input[type="submit"]:hover{
        -webkit-box-shadow: 0px 20px 30px 0px rgba(26, 8, 119, 0.24);
        -moz-box-shadow:    0px 20px 30px 0px rgba(26, 8, 119, 0.24);
        box-shadow:         0px 20px 30px 0px rgba(26, 8, 119, 0.24);
    }
    .condition-check{
        position: relative;
        margin: 10px 0 0;
    }
    .condition-check input[type="checkbox"] {
        display: none;
    }
    .condition-check label {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0;
        font-weight: 400;
        padding-left: 31px;
        position: relative;
        cursor: pointer;
        color: #686875;
        margin: 0 0 0;
    }
    .condition-check label a{
        color: #5838fc;
    }
    .condition-check label a:hover{
        color: #686875;
    }
    .condition-check label:before {
        background: transparent;
        content: "";
        height: 16px;
        left: 0;
        position: absolute;
        border-radius: 3px;
        top: 3px;
        width: 16px;
        border: 2px solid #ababb1;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .condition-check input:checked + label::after {
        background: transparent;
        bottom: 0;
        font-family: 'ElegantIcons';
        content: "\4e";
        color: #5838fc;
        font-size: 10px;
        left: 2px;
        position: absolute;
        top: -1px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    /*--------------------------------------------------------
    / 6. 404 Page
    /---------------------------------------------------------*/
    
    
    /*--------------------------------------------------------
    / 12. Back To Top
    /---------------------------------------------------------*/
    #back-to-top {
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 42px;
        text-align: center;
        background: #5838fc;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
        border-radius: 50%;
        cursor: pointer;
        -webkit-box-shadow: 0px 20px 30px 0px rgba(26, 8, 119, 0.24);
        -moz-box-shadow:    0px 20px 30px 0px rgba(26, 8, 119, 0.24);
        box-shadow:         0px 20px 30px 0px rgba(26, 8, 119, 0.24);
    }
    #back-to-top:hover i {
        animation-name: fadeInUp;
        animation-duration: 1s;
        animation-fill-mode:both;
        animation-iteration-count: infinite;
    }
    
    /*--------------------------------------------------------
    / 13. Preloader
    /---------------------------------------------------------*/
    
    .submenu-toggler{
        display: none;
    }
    .fix-header{
        background: #5838fc;
        left: 0;
        position: fixed;
        right: 0;
        top: -1px;
        width: 100%;
        z-index: 999;
        transition: all 0.1s ease-out;
        box-shadow: 0px 6px 10px 0px rgba(11, 02, 55, 0.06);
    }


    .sticky .collapse li > a {
        color: black ;
    }
    .sticky .collapse li > a:hover{
        color: blue;
        text-decoration: none;
    }
    
    .fix-header .collapse li > a {
        color: white ;
    }
    
    .fix-header .collapse li > a:hover{
        color: white !important;
    } 
    
    .sticky-logo{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        transition: all 0.1s ease-out;
    }
    .header-01.fix-header .navbar-brand img{
        visibility: hidden;
        opacity: 0;
    }
    .header-01.fix-header .navbar-brand .sticky-logo{
        visibility: visible;
        opacity: 1;
    }
    .header-03.fix-header,
    .header-02.fix-header{
        background: #fff;
    }
    .header-01.fix-header .navbar-brand{
        padding: 17px 0;
        transition: all 0.1s ease-out;
    }
    
    