

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html, body{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    letter-spacing: 0;
    font-weight: 400;
    word-break: break-word;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
    color: #2c234d;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0 0 15px;
    line-height: 1.2;
}
a{
    color: #2c234d;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.sec-title{
    text-align: center;
    font-size: 34px;
    line-height: 44px;
    color: #2c234d;
    margin: 0 0 61px;
    position: relative;
}
.sec-title span{
    display: block;
    font-weight: 400;
}



